html
{
   background-color:darkgrey;
   padding:
}

#wiki_container
{
	position: relative;
}

#wiki_content
{
	position: absolute;
	margin-left: 88px;
    margin-top: 12px;
    width: 1472px;
    height: 657px;
}

.wiki_text
{
	width: 1472px;
    height: 657px;
    background-color: transparent;
    font-family: 'Margarine',cursive;
    color: Azure;
}

.wiki_background
{
	background:url('/images/chalkboard_frame.png');
	background-size: 100% 100%;
    background-repeat:no-repeat;
	background-color:DarkSlateGrey;
	height: 894px;
	width: 1663px;
}

#wiki_heading
{
	margin-left: 86px;
    margin-top: -43px;
    /*position: absolute;*/
}

.wiki_add_entry
{
	border: 2px solid azure;
    color: Azure;
    font-family: 'Margarine',cursive;
    margin-left: 1173px;
    margin-top: -53px;
    padding: 1px;
    /*position: absolute;*/
    text-decoration: none;
    width: 72px;
}

#wiki_user
{
	color: Azure;
    font-family: 'Margarine',cursive;
    margin-left: 1186px;
    margin-top: 64px;
    text-align: right;
    width: 225px;
}

#wiki_login_button
{
	border: 2px solid azure;
    color: Azure;
    font-family: 'Margarine',cursive;
    margin-left: 112px;
    margin-top: 44px;
    padding: 2px;
    text-decoration: none;
    width: 71px;
}

.coursework_login_button
{
	border: 2px solid azure;
    color: Azure;
    font-family: 'Margarine',cursive;
    margin-left: 61px;
    margin-top: 25px;
    padding: 2px;
    text-decoration: none;
    width: 137px;
}

.course_work_image
{
	 margin-top: -59px;
}

#course_work_logo
{
	
}

.code_format
{
	text-decoration: none;
}

#wiki_logout_button
{
	border: 2px solid azure;
    color: Azure;
    font-family: 'Margarine',cursive;
    margin-left: 1417px;
    margin-top: -26px;
    padding: 2px;
    width: 52px;
    text-decoration: none;
}

#wiki_image
{
	margin-left: 44px;
	margin-top: -34px;
    /*width: 200px;*/
}

#index_title
{
	 margin-left: 83px;
}

#signup_text
{
	margin-left: 134px;
    margin-top: 68px;
}

::-webkit-scrollbar
{
    width: 5px;
    height: 13px;
}

#hidden_map
{
    border: 1px solid white;
    display: none;
    height: 263px;
    margin-left: 34px;
    margin-top: 73px;
    padding: 2px;
    width: 380px;}

#map_button
{
    margin-left: 371px;
}

#container
{
    width:100%;
    height:100%
}

#signup_link
{
	margin-left: 125px;
    margin-top: 50px;
}

#inner
{
    display:block;
    margin:100px auto;
    padding-left:80px;
    padding-top:50px;
    background:url('/images/chalkboard_frame.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-color: DarkSlateGrey;
    height: 600px;
    width: 1000px;
    box-shadow: 0px 5px 8px black;
    position: relative;
}

.welcome_user
{
	color: Azure;
    font-family: 'Margarine',cursive;
    margin-left: 661px;
    text-align: right;
    width: 225px;
}

.logout_button
{
	border: 2px solid azure;
    color: Azure;
    font-family: 'Margarine',cursive;
    margin-left: 897px;
    margin-top: -21px;
    padding: 2px;
    width: 52px;
    text-decoration: none;
}

#inner_content_newPost
{
    position: relative;
    margin-left: 192px;
    margin-top: 36px; 
}

#inner_content_rot13
{
   position: relative;
   margin-left: 197px;
   margin-top: 43px; 
}

#inner_content_signup
{
	margin-top: 16px;
    padding: 10px;
    position: relative;
    width: 282px;
    margin-left: 306px;
}

#inner_content_signup_right
{
    /*border: 2px solid azure;*/
    /*border-radius: 30px 30px 30px 30px;*/
    margin-top: 35px;
    padding: 10px;
    position: relative;
    width: 282px;
     margin-left: 63px;
    float:left;
}

#inner_content_register_right
{
	margin-top: -6px;
    padding: 10px;
    position: relative;
    width: 282px;
     margin-left: 63px;
    float:left;
}

#inner_content_signup_left
{
	/*border: 2px solid azure;*/
    /*border-radius: 30px 30px 30px 30px;*/
    margin-top: 65px;
    margin-left: 113px;
    padding: 10px;
    position: relative;
    width: 282px;
    height: 274px;
    float:left;
}

#inner_content_birthday
{
    margin-left: 276px;
    margin-top: 55px;
}

#birthday_year
{
    margin-left: 49px;
    margin-top: -75px;
}

#birthday_return_link
{
    margin-top: 38px;
    margin-left: 69px;
}

#valid_birthday
{
    color: lightgreen;
    font-family: 'Keania One',cursive;
    font-size: 52px;
    margin-left: 62px;
}

#invalid_birthday
{
    color: red;
    font-family: 'Keania One',cursive;
    font-size: 52px;
    margin-left: 49px;    
}

#invalid_birthday_message
{
    color: Azure;
    margin-left: -72px;
}

#submitted_date
{
    margin-top: 80px;
}

#section1
{
    float: left;
}

#section2
{
    float: left;
    margin-left: 42px;
}

#signup_submit
{
    clear: both;
    margin-left: 194px;
    margin-top: 40px;
    position: absolute;
}

#wiki_save
{
    margin-top: 9px;
}

.signup_return_link
{
    position: absolute;
    font-size: small; 
    clear: both;
    margin-top: 14px;
    font-family: 'Margarine', cursive;
}

h1
{
    font-family:'Merienda', cursive;
    color:Azure ;
    /*text-decoration: underline;*/
}

#page_counter
{
    color: Azure; 
    font-size: 108px;
    margin-left: 373px;
    text-align: center;
    width: 143px;
}

#visit_font
{
   font-family: 'Rye',cursive; 
}

#counter_return
{
    margin-left: 386px;
}

.menu_header
{
    font-family:'Merienda', cursive;
    color:Azure ;
    text-decoration: underline;
}

#blog_header
{
    position: relative;
    margin-left: 364px;
    margin-top: -50px;
     width: 200px;
}

#query_time
{
	color: Azure;
    font-family: 'Margarine',cursive;
    left: 863px;
    position: absolute;
    top: 593px;
}

.post + .post
{
   margin-left: 183px;
   margin-top: 37px;
   width: 510px;
}

#post_return_link
{
   font-family: 'Margarine', cursive;
   font-size: small;
   margin-left: 132px;
   margin-top: 460px;
   position: absolute;
}

.post-title
{
    font-weight: bold;
    font-size: 25px;
    float: left;
}

.post-date
{
    font-weight: bold;
    font-size: 12px;
    float: right;
    margin-top: 17px;
}

.post-content
{
    clear:  both;
    padding: 19px 35px 15px 45px;
}

#new-blog_content
{
    border-color:white;
    background-color:transparent;
    font-family:'Margarine', cursive;
    color:Azure ;
    height: 195px;
    width: 531px;
}

#horizontal_rule
{
    clear: both;
    border-top: 2px solid white;
}

p, .text
{
    font-family:'Margarine', cursive;
    color:Azure;
}

.a_Almond 
{
    color:BlanchedAlmond;
}

a:visited,a:link,a:hover,a:active
{
    color:Azure;
}

.post_link_individual
{
    text-decoration: none;
}

label
{
    font-family:'Margarine', cursive;
    color:Azure ;
}

input, select
{
    border-color:white;
    background-color:transparent;
    font-family:'Margarine', cursive;
    color:Azure ;
}

.chrome select
{
	border-color:white;
    background-color:DarkSlateGrey;
    font-family:'Margarine', cursive;
    color:Azure ;
}

#year_input
{
    width: 38px;
}

.chrome #year_input
{
	width: 59px;
} 

input[type=submit]
{
    font-size:large;
}

.ASCII
{
    width: 400px;
    height: 200px;
    font-size: 17px;
    color: Azure;
    font-family: monospace;
    background-color:transparent
}

#new_post_header
{
   position: relative;
   margin-left: 142px;
   margin-top: -25px; 
}

#rot13_header
{
   position: relative;
   margin-left: 58px;
   margin-bottom: 40px; 
}

#blog_content
{
    width: 530px;
    height: 420px;
    background-color: transparent;
    color:Azure ;
    margin-left: 130px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 17px 53px 8px 54px;
    border: 2px solid white;

}

#subject_input
{
    width: 530px;
}

#art_container
{
    display:block;
    height: 491px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 466px;
    margin-top: -62px;
*/
}

#art_title
{
    color: white;
    margin-left: 104px;
    margin-top: -61px;
    padding-bottom: 40px;
    font-family:'Merienda', cursive;
    /*text-decoration: underline;*/
}

.art + .art
{
    margin-top: 20px;
}

.art-title
{
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family:'Margarine', cursive;
}

.art-body
{
    margin: 0;
    font-size: 10px;
    color: white;
    padding-top: 10px;
}

#page_navigate
{
    color: white;
    position: absolute;
    bottom: 35px;
    left: 35px;
    position: absolute;
    bottom: 35px;
    left: 35px;
    font-family:'Margarine', cursive;
}

#coursework
{
    background:url('/images/swap-icon.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 35px;
    right: 35px;
}

#label
{
    position: absolute;
    bottom: 35px;
    right: 100px;
}

#map_label
{
    float: left;
    margin-left: 155px;
    margin-top: 34px;
}

.error
{
    color: red;
}