<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>unit3 - My Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda:700,400' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="container">
        <div id="inner">
        	<div class="welcome_user">Welcome, {{user}}</div><a id="post_link_individual" href="/unit4/logout"><div class="logout_button">Logout</div></a>
            <div id="blog_header"><h1><a href="/blog" class="a_Almond">CS 253 Blog</a></h1></div>
            <span id="post_return_link"><a href="/homework">Return to homework</a></span>
            <span id="query_time">{{time}}</span>
            <div id="blog_content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>