<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>CS253 Coursework Assignments</title>
    
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>
    <div id="container">
        <div id="inner">
            <h1>CS253 Coursework Assignments</h1>
            <div style="float: left; width: 450px;">
            <h2 id="menu_header">Unit 1</h2>
            <p>None</p>
            <h2 id="menu_header">Unit 2</h2>
            <p>None</p>
            <h2 id="menu_header">Unit 3</h2>
            <p><a href="/course_work/unit3/ASCIIChan" class="a_Almond">ASCII Chan</a> - Creating a simple page to display ASCII art</p>
            </div>
            <div style="float: right; width: 500px; border-left: 2px dashed white; padding-left: 30px; height: 350px">
        
            </div>
            <label>
                <div id="label">CLICK TO GOTO HOMEWORK PAGE =></div>
            <a href="/" class="a_Almond"><div id="coursework"></div></a>
            </label>
            <span id="page_navigate">Page: 1 • 2</span>
        </div>
    </div>
    
</body>
</html>