<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>CS253 Homework Assignments</title>
    
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda:700,400' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id="container">
        <div id="inner">
        	<div class="welcome_user">Welcome, {{user}}</div><a id="post_link_individual" href="/unit4/logout"><div class="logout_button">Logout</div></a>
            <h1>CS253 Homework Assignments</h1>
            <div style="float: left; width: 450px;">
            <h2 class="menu_header">Unit 1</h2>
            <p><a href="/unit1/helloudacity" id="GAE_helloWorld" class="a_Almond">Google App Engine: "Hello World"</a> - Simple page that displays the text 'Hello Udacity!'</p>
            <h2 class="menu_header">Unit 2</h2>
            <p><a href="/unit2/rot13" id="Rot13" class="a_Almond">Rot13 Converter</a> - Small input field to convert text using the rot13 conversion pattern.</p>
            <p><a href="/homework/unit2/signup" id="signup">Sign-up Page</a> - Practice validating input fields for a simple signup page.</p>         
            </div>
            <div style="float: right; width: 500px; border-left: 2px dashed white; padding-left: 30px; height: 350px; padding-right: 9px;">
            <h2 class="menu_header">Unit 3</h2>
            <p><a href="/blog" id="blog" class="a_Almond">My Blog</a> - Creation of a personal blog.</p> 
            <h2 class="menu_header">Unit 4</h2>
            <p><a href="/blog/signup" id="registration" class="a_Almond">Registration Page</a> - Create a registration page that encrypts data and stores usernames and passwords.</p>
            </div>
            <label>
                <span>{{test}}</span><div id="label">CLICK TO GOTO COURSEWORK PAGE =></div>
            <a href="/course_work" id="course_work" class="a_Almond"><div id="coursework"></div></a>
            </label>
        </div>
            <!-- <span id="page_navigate">Page: 1 • 2</span> -->
    </div>  
</body>
</html>