<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Page Counter</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda:700,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="container">
        <div id="inner">
				<div class="welcome_user">Welcome, {{user}}</div><div class="logout_button"><a id="post_link_individual" href="/unit4/logout">Logout</a></div>
                <h1>Below is the amount of times you have been to this page:</h1>
                <div id="page_counter"><p id="visit_font">{{visits}}</p></div>
                <div id="counter_return"><p style="font-size:small"><a href="/course_work" class="a_Almond">Return to coursework</a></p></div>
        
        </div>
    </div>
</body>
</html>