<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>unit3 - My Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda:700,400' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class = "post">
        <div class = "post-heading">
            <div class = "post-title">
                {{p.subject}}
            </div>
            <div class = "post-date">
                {{p.created.strftime("%b %d, %y")}}
            </div>
        </div>
    <div id="horizontal_rule" />
        <div class = "post-content">
            {{p._render_text | safe}}
        </div>
    </div>
</body>
</html>