<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>unit2 - rot13</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda:700,400' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="container">
        <div id="inner">
			<div class="welcome_user">Welcome, {{user}}</div><div class="logout_button"><a id="post_link_individual" href="/unit4/logout">Logout</a></div>
            <div id="inner_content_rot13">
                <div id="rot13_header"><h1>Enter some text to ROT13:</h1></div>
        
                <form method="post">
                    <textarea style="width: 500px; height: 200px; border-color:white; background-color:transparent; font-family: 'Margarine', cursive; color:Azure ;" name="text">{{user_input}}</textarea>
                    <br />
                    <div style = "color: red">{{error}}</div>
                    <br />
                    <input type="submit" value="submit"/>
                </form>
                <br />
                <br />
                <p style="font-size:small"><a href="/homework" class="a_Almond">Return to homepage</a></p>
            </div>
        </div>
    </div>
</body>
</html>