<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Sign in Welcome Screen</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda:700,400' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="container">
        <div id="inner">
        
                <h1>Welcome, {{username}}</h1>
                <br />
                <p>{{message}}</p>
                <br />
                <p style="font-size:small"><a href="/homework" class="a_Almond">Return to homepage</a></p>
        
        </div>
    </div>
</body>
</html>