<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda:700,400' rel='stylesheet' type='text/css'>
</head>
<body>
     <div id="container">
        <div id="inner">
			<div class="welcome_user">Welcome, {{user}}</div><div class="logout_button"><a class="post_link_individual" href="/wiki/logout">Logout</a></div>
			
			<div class="wiki_return"><p style="font-size:small"><a href="/homework" class="a_Almond">Return to homepage</a></p></div>
			</div>
		
	</div>
    </div>
</body>
</html>