<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Final - Wiki</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda:700,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wiki_container" class="wiki_background">
		<div id="wiki_content">
			<div id="wiki_user">Welcome, {{user}}</div><div id="wiki_logout_button"><a id="post_link_individual" href="/unit4/logout">Logout</a></div>
			<h1 id="wiki_heading">CS253 Wiki</h1>
			<div class="wiki_add_entry">Add Entry</div>
			
		</div>
	</div>

</body>
</html>